<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="mtl_MIB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    </configSections>
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-mtl_MIB-20150612015841.mdf;Initial Catalog=aspnet-mtl_MIB-20150612015841;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <!--===Production====-->
    <!--<add name="MTL_ForCDDScan" connectionString="Data Source=10.1.0.93;Initial Catalog=MTL_ForCDDScan;Persist Security Info=True;User ID=sa;Password=pass#word1" providerName="System.Data.SqlClient" />
    <add name="MTL_ForCDDScanEntities" connectionString="metadata=res://*/MTL_ForCDDScanModel.csdl|res://*/MTL_ForCDDScanModel.ssdl|res://*/MTL_ForCDDScanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.0.93;initial catalog=MTL_ForCDDScan;user id=sa;password=pass#word1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MTL_CDDGatewayUatEntities" connectionString="metadata=res://*/MTL_CDDGatewayWSLogModel.csdl|res://*/MTL_CDDGatewayWSLogModel.ssdl|res://*/MTL_CDDGatewayWSLogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.0.93;initial catalog=MTL_CDDGateway;user id=sa;password=pass#word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--=======UAT======-->
    <add name="MTL_ForCDDScan" connectionString="Data Source=10.1.0.206;Initial Catalog=MTL_ForCDDScan;Persist Security Info=True;User ID=sa;Password=pass#word1" providerName="System.Data.SqlClient" />
    <add name="MTL_ForCDDScanEntities" connectionString="metadata=res://*/MTL_ForCDDScanModel.csdl|res://*/MTL_ForCDDScanModel.ssdl|res://*/MTL_ForCDDScanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.0.206;initial catalog=MTL_ForCDDScan;user id=sa;password=pass#word1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MTL_CDDGatewayUatEntities" connectionString="metadata=res://*/MTL_CDDGatewayWSLogModel.csdl|res://*/MTL_CDDGatewayWSLogModel.ssdl|res://*/MTL_CDDGatewayWSLogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.0.206;initial catalog=MTL_CDDGatewayUat;user id=sa;password=pass#word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   
  </connectionStrings>
  <appSettings>
    <add key="ExpireDate" value="90" />
    <add key="admin_username" value="apluser" />
    <add key="admin_password" value="rtyhgf" />
    <add key="operator_username" value="apl" />
    <add key="operator_password" value="abc123" />

  </appSettings>
  <system.web>

    <authentication mode="Forms">
      <forms timeout="30" slidingExpiration="true" loginUrl="~/Memberships/Login.aspx" defaultUrl="Default.aspx" />
    </authentication> 
    <identity impersonate="true" />
    <compilation debug="true" targetFramework="4.5" />
    
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <membership defaultProvider="MTL_ForCDDScan_MembershipProvider">
      <providers>
        <add name="MTL_ForCDDScan_MembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MTL_ForCDDScan" applicationName="MTL_ForCDDScan" requiresUniqueEmail="false" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" passwordFormat="Hashed" passwordAttemptWindow="10" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" />
      </providers>
    </membership>
    <profile defaultProvider="MTL_ForCDDScan_MembershipProvider">
      <providers>
        <clear />
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="sqlRoleManager">
      <!--
	        ASP.NET Membership Role is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
      
      <providers>
        <clear />
        <add name="sqlRoleManager" type="System.Web.Security.SqlRoleProvider" connectionStringName="MTL_ForCDDScan" applicationName="mtl_MIB" />
      </providers>
      
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow roles="Registered Users" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Memberships/Manage.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="FormsAuthentication" />
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <mtl_MIB.Properties.Settings>
      <setting name="mtl_MIB_WS_Admin_ForMIB_WS_Admin_ForMIBService"
        serializeAs="String">
        <value>http://10.1.0.24:2380/applinx/bare-service/WS_Admin/WS_Admin_ForMIB</value>
      </setting>
      <setting name="mtl_MIB_WS_Admin_ForMIB_V9_WS_Admin_WS_Admin_ForMIB"
        serializeAs="String">
        <value>http://10.200.52.114:2380/wsstack/services/WS_Admin.WS_Admin_ForMIB/</value>
      </setting>
    </mtl_MIB.Properties.Settings>
  </applicationSettings>
</configuration>